/* CSS Reset  */
html, body {
	width: 100%;
	overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main Styling  */

body {
	font-family: 'Titillium Web', sans-serif;
	max-width: 100vw;
}


.banner {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: auto;
	background: #075da9;
}

i {
	color: black;
	margin-right: 0.4rem;
}

.contactNo, .emailAdd, .openingTime {
	color: white;
	text-decoration: none;
	font-size: 0.9rem;
	margin: 0.5rem;
}


.navLogo {
	width: 5rem;
	height: auto;
}

.navbar {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-start;
	color: black;
}

.navbar-links {
	display: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.navbar-links.active {
	display: flex;
}

.navbar-links ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
}

.navbar-links li {
	list-style: none;
	
}

.navbar-links li a {
	display: flex;
	text-decoration: none;
	color: black;
	padding: 0.6rem;
}

.navbar-links li:hover {
	background-color: #555;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2em;
  height: 3px;
  background: var(--clr-dark);
  
  transition: transform 450ms ease-in-out, opacity 200ms linear;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
}

.hamburger::before { bottom: 6px; }
.hamburger::after { top: 6px;}


/* Navigation open styles */

.nav-open .nav {
  transform: translateX(0);
}

/* Change this stuff below */

.nav-open .hamburger {
  transform: rotate(405deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  transform: rotate(85deg) translate(-6px);
}
